body{
    background: rgb(128, 172, 223);
}
.img{
    width: 148px;
    margin: 0px 44%; 

}
.userCard{
    background: rgb(207, 199, 161);
    margin: auto;
    width: 380px;
    height: 425px;
    border-radius: 25px;
    padding-top: 7px;

}
#user-block { 
    width: 350px;
    height: 400px;
    background: rgb(243, 233, 188);
    padding: 1px 15px;
    border-radius: 25px;
    
}

p { 
    color: rgb(0, 0, 0);
    font-size: 25px;
}